# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp


# Executables
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#TouchGfx Files

Keyboardapp_custom_backend/CM7/TouchGFX/build/*
Keyboardapp_custom_backend/CM7/TouchGFX/generated/*
Keyboardapp_custom_backend/STM32CubeIDE/CM7/Debug/*
Keyboardapp_custom_backend/STM32CubeIDE/CM4/Debug/*
